<% let type = "post"; if (is_home()) type = "index"; if (is_post() || is_page())
type = "post"; if (is_category() || page.type === "categories") type =
"categories"; if (is_tag() || page.type === "tags") type = "tags"; if
(is_archive()) type = "archives";if (page.layout === "photo") type = "photo";
%> 
<%let title = page.title + " | " + config.title;
if (is_home()) title = config.title; if (is_post() || is_page()) title =
page.title + " | " + config.title; if (is_category()) title = "Categories: " +
page.category + " | " + config.title; if (is_tag()) title = "Tags: " + page.tag
+ " | " + config.title; if (is_archive()) title = "Archives | " + config.title;
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="author" content="<%- config.author %>" />
    <meta name="description" content="<%- config.description %>" />
    <meta name="keywords" content="<%- config.keywords %>" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="icon" href="<%- url_for(theme.avatar) %>" />
    <%- partial("import", { type }) %>
    <style>
      body {
        cursor: url("<%- url_for(theme.arrow) %>"), auto;
      }
    </style>
    <% if (theme.TopIndex.enable) { %>
    <!-- <script src="<%- url_for('/js/TopIndex.js') %>"></script> -->
    <% } %>
  </head>
  <body>
    <div id="layout">
      <transition name="fade">
        <div id="loading" v-if="loading">
          <div id="loading-circle"></div>
          <div id="loading-toast">
            <h2 :id="null">LOADING</h2>
            <p>加载过慢请开启缓存 浏览器默认开启</p>
            <img src="<%- url_for(theme.loading) %>" />
          </div>
        </div>
      </transition>
      <%- partial("menu", {}, {cache: true}) %>
      <div id="main" :class="loading ? 'into-enter-from': 'into-enter-active'">
        <%- partial(type) %> 
        <%- partial("footer", {}, {cache: true}) %>
      </div>

      <% if (theme.Background_particles.enable) { %>
      <script src="<%- url_for('/js/canvas.js') %>"></script>
      <% } %>
      <!-- <% if (theme.preview.enable) { %>
      <transition name="fade">
        <div id="preview" ref="preview" v-show="previewShow">
          <img id="preview-content" ref="previewContent" />
        </div>
      </transition>
      <% } %> -->

      <div id="scrollProgressBar" :style="{ width: scrollPercent + '%' }"></div>
      <div
        id="scrollTop"
        @click="scrollToTop"
        :style="{ opacity: scrollPercent > 20 ? 1 : 0, pointerEvents: scrollPercent > 20 ? 'auto' : 'none' }"
      >
        <i class="fa-solid fa-arrow-up"></i>
      </div>
    </div>

    <script src='<%- url_for("/js/main.js") %>'></script>
    <% if (type === "post" && page.comments) { %> <%- partial("comment", {},
    {cache: true}) %> <% } %> <% if (theme.span.enable) { %>
    <script src="<%- url_for('/js/span.js') %>"></script>
    <% } %>
  </body>
</html>
